version: '3.8'

services:
  web:
    build: .
    ports:
      - "5000:5000"
    environment:
      - MONGO_URI=mongodb://mongodb:27017/aptipro
      - SECRET_KEY=your_secret_key_here
    depends_on:
      - mongodb
    volumes:
      - ./uploads:/app/uploads
      - ./static/question_images:/app/static/question_images

  mongodb:
    image: mongo:latest
    ports:
      - "27017:27017"
    volumes:
      - mongodb_data:/data/db

volumes:
  mongodb_data:
